{
    "age": 10,
    "likes": 1,
    "exceptions": ["userId"],
    "retweets": false,
    "replies": true,
    "hasReplies": false,
    "pinned": false,
    "hasRetweets": false,
    "normal": false,
    "userId": "myId"
}
